:root {
  --font-family: "Outfit", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-light-black: #2f2f2f;
  --color-light-green: #82cbac;
  --color-black: #222;
  --color-white: #fff;
  --color-pink: #ff7f96;
  --color-yellow: #ead71b;
  --color-input: #f6f6f6;
  --color-blue: #2262de;
  --color-light-blue: #28abf4;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/../fonts/OutfitRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/../fonts/OutfitBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  font-family: "Outfit" sans-serif;
  font-style: normal;
  min-width: 320px;
  min-height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: var(--color-black);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.swiper {
  position: relative;
  max-width: 100%;
  width: 1104px;
  height: 510px;
}

.swiper-wrapper {
  width: 100%;
  max-width: 1104px;
}

.swiper-pagination {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide {
  width: 100%;
  max-width: 1104px;
}
@media (max-width: 376px) {
  .swiper-slide {
    width: 100%;
    max-width: 345px;
  }
}

.header {
  margin-bottom: 40px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 30px;
  margin-top: 17px;
  padding: 14px 28px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
}
@media (max-width: 576px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .header__nav {
    margin-top: 0;
  }
}
.header__list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .header__list-left {
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .header__list-left {
    white-space: nowrap;
  }
}
@media (max-width: 576px) {
  .header__list-left {
    margin-bottom: 30px;
  }
}
.header__item:not(:last-child) {
  margin-right: 48px;
}
@media (max-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 25px;
  }
}
@media (max-width: 320px) {
  .header__item:not(:last-child) {
    margin-right: 15px;
  }
}
.header__item--big {
  text-transform: uppercase;
}
.header__item span {
  text-transform: lowercase;
}
.header__item-link {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: var(--color-black);
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.header__item-link:hover {
  color: var(--color-light-green);
}
.header__inner-right {
  width: 100%;
  max-width: 500px;
}
.header__list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .header__list-right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.header__item-right {
  position: relative;
}
.header__item-right:not(:last-child) {
  margin-right: 20px;
}
.header__item-right--btn {
  margin-left: 48px;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}
@media (max-width: 576px) {
  .header__item-right--btn {
    margin-left: 20px;
  }
}
@media (max-width: 320px) {
  .header__item-right--btn {
    margin-left: 10px;
  }
}
.header__item-icon svg {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 0.5s ease-in-out;
  -o-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}
.header__item-icon--twitter:hover {
  fill: var(--color-light-blue);
}
.header__item-icon--instagram:hover {
  fill: var(--color-pink);
}
.header__item-icon--facebook:hover {
  fill: var(--color-blue);
}
.header__item-btn {
  border-radius: 20px;
  padding: 11px 15px 15px;
  font-size: 13px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.48px;
  color: var(--color-white);
  background-color: var(--color-light-black);
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.header__item-btn:hover {
  padding: 10px 14px 14px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}
@media (max-width: 320px) {
  .header__item-btn {
    white-space: nowrap;
    padding: 10px 13px 13px;
  }
}

@media (max-width: 992px) {
  .logo img {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .logo img {
    max-width: none;
  }
}

.hero {
  padding-top: 70px;
  padding-bottom: 180px;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 0;
  }
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 376px) {
  .hero__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.hero__inner-left {
  margin-right: 47px;
  width: 100%;
  max-width: 540px;
}
@media (max-width: 576px) {
  .hero__inner-left {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.hero__subtitle {
  font-size: 13px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: var(--color-light-green);
  text-transform: uppercase;
}
.hero__subtitle span {
  text-transform: lowercase;
}
.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 48px;
  }
}
.hero__text {
  margin: 0;
  width: 100%;
  max-width: 420px;
}
.hero__inner-right {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 510px;
  height: 100%;
}
@media (max-width: 768px) {
  .hero__inner-right {
    min-height: 430px;
  }
}
@media (max-width: 576px) {
  .hero__inner-right {
    display: none;
  }
}
.hero__img-boy {
  position: absolute;
  top: 0;
  right: 43%;
  width: 100%;
  max-width: 365px;
}
.hero__img-girl {
  position: absolute;
  top: 21%;
  right: 0;
  max-width: 495px;
  width: 100%;
}

.hey {
  padding-bottom: 96px;
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
@media (max-width: 992px) {
  .hey {
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .hey {
    padding-bottom: 0;
  }
}
.hey__top-img {
  margin-bottom: 128px;
  width: 100%;
}
@media (max-width: 992px) {
  .hey__top-img {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .hey__top-img {
    margin-bottom: 30px;
  }
}
@media (max-width: 376px) {
  .hey__top-img {
    margin-bottom: 20px;
  }
}
.hey__inner-top {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 625px;
}
.hey__top-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
@media (max-width: 768px) {
  .hey__top-title {
    font-size: 56px;
  }
}
@media (max-width: 376px) {
  .hey__top-title {
    font-size: 38px;
  }
}
.hey__top-text {
  margin: 0;
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .hey__top-text {
    margin-bottom: 40px;
  }
}
.hey__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hey__btn-inner {
  width: 100%;
  max-width: 552px;
}
@media (max-width: 992px) {
  .hey__btn-inner {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .hey__btn-inner {
    max-height: 52px;
    height: 100%;
  }
}
.hey__btn-artist {
  border: 1px solid var(--color-light-black);
  border-radius: 30px;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: var(--color-light-black);
  background-color: var(--color-white);
  -webkit-transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
}
.hey__btn-artist--jack, .hey__btn-artist--suni, .hey__btn-artist--colin {
  padding: 13px 112px 35px 65px;
  opacity: 1;
}
.hey__btn-artist--jack:hover, .hey__btn-artist--suni:hover, .hey__btn-artist--colin:hover {
  color: var(--color-white);
  background-color: var(--color-light-black);
}
@media (max-width: 576px) {
  .hey__btn-artist--jack, .hey__btn-artist--suni, .hey__btn-artist--colin {
    padding: 13px 78px 35px 29px;
  }
}
@media (max-width: 376px) {
  .hey__btn-artist--jack, .hey__btn-artist--suni, .hey__btn-artist--colin {
    padding: 7px 72px 31px 23px;
  }
}
@media (max-width: 320px) {
  .hey__btn-artist--jack, .hey__btn-artist--suni, .hey__btn-artist--colin {
    padding: 7px 65px 31px 14px;
  }
}
.hey__artist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  max-width: 1104px;
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
}
@media (max-width: 992px) {
  .hey__artist-item {
    -webkit-transform: translateY(55px);
    -ms-transform: translateY(55px);
    transform: translateY(55px);
  }
}
@media (max-width: 768px) {
  .hey__artist-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(75px);
    -ms-transform: translateY(75px);
    transform: translateY(75px);
  }
}
@media (max-width: 576px) {
  .hey__artist-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@media (max-width: 376px) {
  .hey__artist-item {
    width: 100%;
    max-width: 350px;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
}
@media (max-width: 992px) {
  .hey__jack-image {
    max-width: 400px;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@media (max-width: 768px) {
  .hey__jack-image {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    max-width: 350px;
  }
}
@media (max-width: 576px) {
  .hey__jack-image {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    max-width: 315px;
  }
}
.hey__jack-subtitle {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1;
  color: var(--color-pink);
}
.hey__jack-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 1;
}
@media (max-width: 768px) {
  .hey__jack-title {
    margin-bottom: 8px;
    font-size: 30px;
  }
}
@media (max-width: 376px) {
  .hey__jack-title {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .hey__jack-title {
    font-size: 22px;
  }
}
.hey__jack-text {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .hey__jack-text {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .hey__jack-text {
    line-height: 1;
  }
}

.work {
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
.work__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 84px;
}
@media (max-width: 992px) {
  .work__top-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.work__top-img {
  margin-right: 15px;
}
@media (max-width: 992px) {
  .work__top-img {
    margin-right: 0;
    width: 100%;
  }
}
.work__top-inner-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 48px;
  padding-top: 62px;
  width: 100%;
  max-width: 600px;
}
@media (max-width: 768px) {
  .work__top-inner-right {
    padding-left: 0;
    padding-top: 30px;
  }
}
@media (max-width: 576px) {
  .work__top-inner-right {
    padding-left: 0;
    padding-top: 20px;
  }
}
.work__top-subtitle {
  margin-bottom: 7px;
  display: inline-block;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .work__top-subtitle {
    font-size: 28px;
  }
}
.work__top-title {
  margin-bottom: 38px;
  width: 100%;
  max-width: 486px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}
@media (max-width: 576px) {
  .work__top-title {
    margin-bottom: 24px;
    white-space: normal;
    font-size: 42px;
  }
}
@media (max-width: 376px) {
  .work__top-title {
    margin-bottom: 15px;
    font-size: 32px;
  }
}
.work__top-text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 576px) {
  .work__top-text {
    margin-bottom: 20px;
    font-size: 15px;
  }
}
@media (max-width: 376px) {
  .work__top-text {
    font-size: 14px;
  }
}
.work__top-btn {
  position: absolute;
  display: inline-block;
  margin-bottom: 60px;
  padding: 12px 40px 16px;
  width: 100%;
  max-width: 166px;
  right: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.1;
  text-align: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: var(--color-white);
  background-color: var(--color-light-black);
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.work__top-btn:hover {
  padding: 12px 20px 14px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}
@media (max-width: 992px) {
  .work__top-btn {
    position: relative;
  }
}
@media (max-width: 576px) {
  .work__top-btn {
    margin-bottom: 30px;
  }
}
.work__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 140px;
}
@media (max-width: 992px) {
  .work__bottom-inner {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    margin-bottom: 0;
  }
}
.work__bottom-inner-left {
  padding: 64px;
  width: 100%;
  max-width: 585px;
}
@media (max-width: 768px) {
  .work__bottom-inner-left {
    padding: 20px 0;
  }
}
.work__bottom-item {
  width: 100%;
  max-width: 431px;
}
.work__bottom-number {
  display: inline-block;
  margin-bottom: 5px;
  padding: 6px 20px 11px;
  border-radius: 30px;
}
.work__bottom-number--one {
  background-color: var(--color-light-green);
}
.work__bottom-number--two {
  background-color: var(--color-pink);
}
.work__bottom-number--three {
  background-color: var(--color-yellow);
}
.work__bottom-subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
}
@media (max-width: 576px) {
  .work__bottom-subtitle {
    font-size: 28px;
  }
}
.work__bottom-text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 576px) {
  .work__bottom-text {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .work__bottom-img {
    width: 100%;
  }
}
.work__bottom-bg {
  width: 100%;
}

.collections {
  padding-top: 100px;
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
@media (max-width: 992px) {
  .collections {
    padding-top: 20px;
  }
}
.collections__title {
  margin: 0;
  margin-bottom: 73px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  text-align: center;
}
@media (max-width: 992px) {
  .collections__title {
    margin-bottom: 40px;
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .collections__title {
    font-size: 42px;
  }
}
.collections__inner-articles {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .collections__inner-articles {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .collections__inner-articles {
    margin-bottom: 0;
  }
}
.collections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .collections__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.collections__item {
  width: 100%;
  max-width: 358px;
}
@media (max-width: 992px) {
  .collections__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 376px) {
  .collections__item:not(:last-child) {
    margin-right: 0;
  }
}
.collections__article-image {
  margin-bottom: 29px;
}
@media (max-width: 576px) {
  .collections__article-image {
    width: 100%;
    margin-bottom: 12px;
  }
}
.collections__article-subtitle {
  margin: 0;
  margin-bottom: 37px;
  padding-left: 50px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: var(--color-light-black);
}
.collections__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.collections__btn-link {
  margin: 0 auto;
  padding: 12px 40px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-white);
  background-color: var(--color-light-black);
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.collections__btn-link:hover {
  padding: 12px 39px 14px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}

.top {
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
.top__inner {
  margin: 0 auto;
  padding-top: 95px;
  width: 100%;
  max-width: 1070px;
}
@media (max-width: 768px) {
  .top__inner {
    padding-top: 50px;
  }
}
.top__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 63px;
  line-height: 1;
  text-align: center;
}
.top__title span {
  text-transform: uppercase;
}
@media (max-width: 376px) {
  .top__title {
    font-size: 48px;
  }
}
.top__list-inner {
  margin-bottom: 64px;
}
@media (max-width: 376px) {
  .top__list-inner {
    margin-bottom: 30px;
  }
}
.top__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 992px) {
  .top__list {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .top__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.top__item {
  width: 100%;
  max-width: 332px;
}
.top__info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .top__info-inner {
    padding: 10px;
  }
}
.top__name {
  display: inline-block;
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
@media (max-width: 992px) {
  .top__name {
    font-size: 14px;
  }
}
.top__number {
  font-weight: 700;
  font-size: 17px;
  line-height: 1;
}
@media (max-width: 992px) {
  .top__number {
    font-size: 14px;
  }
}
.top__info-right button {
  border: transparent;
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .top__info-right button {
    width: 28px;
    height: 28px;
  }
}
.top__visible {
  margin-right: 8px;
  background-image: url("../img/top-visible-btn.svg");
}
.top__lock {
  border-radius: 50%;
  background-image: url("../img/top-lock-btn.svg");
}
.top__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top__btn-link {
  margin: 0 auto;
  padding: 12px 40px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-white);
  background-color: var(--color-light-black);
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.top__btn-link:hover {
  padding: 12px 39px 14px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}

.faq {
  padding-top: 55px;
  margin-bottom: 100px;
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
@media (max-width: 576px) {
  .faq {
    padding-top: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 376px) {
  .faq {
    margin-bottom: 20px;
  }
}
.faq__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1072px;
}
.faq__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .faq__title {
    font-size: 44px;
  }
}
.faq__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
  padding: 23px 26px 29px;
  width: 100%;
  max-width: 1072px;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.faq__list-item summary::marker {
  content: "";
}
.faq__list-item details summary:before {
  content: url("../img/faq-arrow.svg");
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.faq__list-item details[open] summary:before {
  content: url("../img/faq-arrow.svg");
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: normal 0.3s;
  animation: normal 0.3s;
}
details[open] summary .faq__list-item__item-descr {
  -webkit-animation: 0.3s ease-in-out;
  animation: 0.3s ease-in-out;
  -webkit-animation: normal 0.3s;
  animation: normal 0.3s;
}
@media (max-width: 576px) {
  .faq__list-item {
    margin-bottom: 0;
    padding: 15px 0;
  }
}
@media (max-width: 376px) {
  .faq__list-item {
    padding: 10px 5px;
  }
}
.faq__list-item-position::before {
  position: absolute;
  top: 25px;
  right: 35px;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 376px) {
  .faq__list-item-position::before {
    top: 15px;
  }
}
@media (max-width: 320px) {
  .faq__list-item-position::before {
    right: 10px;
  }
}
.faq__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
}
@media (max-width: 992px) {
  .faq__item-text {
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .faq__item-text {
    width: 100%;
    max-width: 250px;
  }
}
@media (max-width: 576px) {
  .faq__item-text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .faq__item-text {
    width: 100%;
    max-width: 150px;
  }
}
.faq__item-descr {
  margin: 0;
  padding: 20px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
}
@media (max-width: 576px) {
  .faq__item-descr {
    padding: 8px 0;
    font-size: 14px;
  }
}
.faq__btn {
  padding: 5px 9px;
  outline: transparent;
  border: transparent;
  background-color: var(--color-white);
  cursor: pointer;
}
.faq__btn-arrow {
  display: inline-block;
  width: 28px;
  height: 17px;
  background-image: url("../img/faq-arrow.svg");
}

.footer {
  padding-top: 96px;
  margin-bottom: 25px;
  letter-spacing: 0.48px;
  color: var(--color-light-black);
}
@media (max-width: 992px) {
  .footer {
    padding-top: 20px;
    margin-bottom: 15px;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
  width: 100%;
  max-width: 1072px;
}
@media (max-width: 992px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__community {
  width: 100%;
  max-width: 202px;
}
@media (max-width: 768px) {
  .footer__community {
    margin-bottom: 50px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 45px;
}
.footer__community-subtitle {
  display: inline-block;
  margin-bottom: 19px;
  font-size: 20px;
  line-height: 1;
}
.footer__community-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__community-item:not(:last-child) {
  margin-right: 20px;
}
.footer__community-icon svg {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 0.5s ease-in-out;
  -o-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}
@media (max-width: 576px) {
  .footer__list {
    margin-bottom: 30px;
  }
}
.footer__list-item {
  margin-bottom: 8px;
}
.footer__list-item--subtitle {
  margin-bottom: 17px;
}
.footer__list-subtitle {
  font-size: 20px;
  line-height: 1;
}
.footer__list-link {
  font-size: 15px;
  line-height: 1.1;
  color: var(--color-light-black);
}
.footer__list-link--upper {
  text-transform: uppercase;
}
.footer__list-link span {
  text-transform: lowercase;
}
.footer__form-inner {
  width: 100%;
  max-width: 429px;
}
.footer__form-subtitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 0.8;
}
.footer__form-text {
  margin: 0;
  margin-bottom: 16px;
}
.footer__input {
  border-radius: 20px;
  border: transparent;
  margin-right: 8px;
  padding: 12px 32px;
  width: 100%;
  max-width: 327px;
  background-color: var(--color-input);
}
.footer__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
}
.footer__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
}
.footer__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
}
.footer__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
}
.footer__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.48px;
  color: rgba(47, 47, 47, 0.36);
}
@media (max-width: 576px) {
  .footer__input {
    margin-bottom: 13px;
    max-width: 290px;
  }
}
@media (max-width: 376px) {
  .footer__input {
    max-width: 190px;
    padding: 12px 15px;
  }
}
.footer__input-btn {
  padding: 11px 14px 13px 15px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-white);
  background: var(--color-light-black);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.footer__input-btn:hover {
  padding: 12px 16px 13px 15px;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
}
.footer__copyright-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  max-width: 1072px;
}
@media (max-width: 576px) {
  .footer__copyright-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 376px) {
  .footer__copyright-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__copyright {
  font-size: 14px;
  line-height: 1.1;
}
.footer__created-by {
  font-size: 15px;
  line-height: 1.1;
}
.footer__created-link {
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-pink);
  -webkit-transition: color 0.7s ease-in-out;
  -o-transition: color 0.7s ease-in-out;
  transition: color 0.7s ease-in-out;
}
.footer__created-link:hover {
  color: var(--color-light-green);
}
.footer__powered-by {
  font-size: 16px;
  line-height: 1;
}
.footer__powered-link {
  font-size: 15px;
  line-height: 1.1;
  color: var(--color-pink);
  -webkit-transition: color 0.7s ease-in-out;
  -o-transition: color 0.7s ease-in-out;
  transition: color 0.7s ease-in-out;
}
.footer__powered-link:hover {
  color: var(--color-light-green);
}
/*# sourceMappingURL=main.css.map */